@font-face {
  font-family: 'Dancing Script';
  src: url('./assets/CarnivaleeFreakshow-DLrm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
body {
  background-image: url('./assets/Floral1x1metallix.png');/* Replace with the actual path to your image */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; 
  z-index: 100;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}
.form-section {
  border: 5px solid #333; /* Solid border */
  border-radius: 30px; /* Rounded corners */
  padding: 20px; /* Add padding for spacing inside */
  background: linear-gradient(145deg, #ffffff, #d3d3d3); /* Soft gradient background */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), inset 0px -5px 15px rgba(255, 255, 255, 0.4); /* Outer and inner shadows */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */
  margin: 10px;
  
}
