

/* General Layout */
.messaging-interface {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f4f4f9;
  color: #333;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

/* Thread Preview */
.thread-preview {
  width: 100%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
}

.thread-preview h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #4a4a4a;
}

.thread-preview ul li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: background-color 0.2s;
  cursor: pointer;
}

.thread-preview ul li:hover {
  background-color: #e0e0e0;
}

/* Messaging Window */
.messaging-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

.messaging-window h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
}

.messaging-window ul {
  list-style: none;
  padding: 0;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.messaging-window form {
  display: flex;
  padding-top: 15px;
}

.messaging-window form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease;
}

.messaging-window form button {
  padding: 12px 20px;
  margin-left: 10px;
  background-color: #5a67d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Back Button */
.back-button {
  display: none;
  padding: 10px;
  font-size: 1rem;
  background-color: #5a67d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .messaging-interface {
    flex-direction: column;
    
  }

  .thread-preview {
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: auto;
  }

  .messaging-body.mobile-view .thread-preview {
    display: none;
  }

  .back-button {
    display: block;
  }

  .messaging-window {
    padding: 10px;
  }
}
