.collage-overlay {
  position: absolute;
    /* Adjust as needed */
  left: 40%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 500px;
  height: 100%;
  pointer-events: none; /* So underlying elements remain interactive */
  z-index: 2; /* Ensure it's above the background but adjust as needed */
}

.collage-item {
  position: absolute;
  width: 200px;  /* Adjust size as needed */
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.collage-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.9;
}

@media (min-width: 1000px) {
  .collage-item {
    width: 250px;  /* Adjust size as needed */
    height: 250px;
  }
  .collage-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
  }
  .collage-overlay {
    
    left: 45%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 500px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
  }
}
